---
// recibir propiedades de la página
---
<script src="/src/components/user/usercomponent.js" ></script>
<div id="UserProfile">
        <user-profile minimal group-id="tiktok_login"></user-profile>
</div>
<script src="/src/components/user/userConnect.js"></script>
