---
 
import ServerLayout from '@layouts/serverLayout.astro';

---
<script src="/src/litcomponents/mcinit.js"></script>
<ServerLayout title={"server.properties"} activeConfig="A">
    <h2>Server Properties</h2>
    <server-properties ></server-properties>
</ServerLayout>


<style>

</style>