---
// RecentBackups.astro
import BackupUploader from './backups/BackupUploader.astro'
---
<script src="src/components/main/backups/backup.ts"></script>
<div class="backups-card">
  <backup-list class="backups" id="backups_List"></backup-list>
      <BackupUploader>
      </BackupUploader>
  </div>
  
  <style>
    .backups-card {
      display: grid;
      grid-auto-columns: auto;
      background-color: var(--color-dark-900);
      border: 1px solid var(--color-gray-800);
      border-radius: var(--border-radius-xl);
      padding: var(--space-6);
    }
  </style>