---
export const prerender = false;
import ServerLayout from '@layouts/serverLayout.astro';
import FileHeader from '@components/dashboard/fileHeader.astro';
const { server } = Astro.params;    
---

<ServerLayout title={server + " server"} activeConfig="A" prefix={server}>
    <h2>Gestor de archivos</h2>
    <FileHeader/>
</ServerLayout>


<style>

</style>