---
import ServerLayout from '@layouts/serverLayout.astro';
import SideBySideRow from '@components/Sideb.astro';

---
<ServerLayout title={"settings"} activeConfig="A">
    <h2>Server Properties</h2>
        <div class="config-section">
        <SideBySideRow gap="20px" alignItems="center">
            <div slot="left">
            <div>
                <strong>Script de Inicio</strong>
            </div>
            </div>
            <div slot="right">
            <c-input type="textarea" id="start-script" name="start-script" value="start.sh" rows={2}> </c-input>
            </div>
        </SideBySideRow>
    
        <SideBySideRow gap="20px" alignItems="center">
            <div slot="left">
            <div>
                <strong>Reiniciar en Error</strong>
            </div>
            </div>
            <div slot="right">
            <c-input  type="boolean" id="restart-on-error" name="restart-on-error" value={true}></c-input>
            </div>
        </SideBySideRow>
        <button class="btn btn-primary" id="save-btn">Guardar</button>
      </div>
</ServerLayout>
<script>
    import { filemanagerapi } from "src/utils/fetch/fetchapi";

    document.addEventListener("DOMContentLoaded",async function () {
      getScript();
      initListener();
    });
    let ExistentScript = "";
    const startScript = document.getElementById("start-script") as HTMLElement & HTMLInputElement;

    async function getScript() {
      const scripts = ["start.sh","start.bat"]
      scripts.forEach(async (script) => {
        const pathENCODED = encodeURIComponent(window.selectedServer + "/" + script);
        const result = await filemanagerapi.readFileByPath(pathENCODED);
        console.log("result", result);
        if (result) {
          console.log("script", script);
          const contentFile = typeof result.data === "string" ? result.data : result.data.content;
          startScript.value = contentFile;
          ExistentScript = script;
        }
      });
    }
    async function initListener() {
      const saveBtn = document.getElementById("save-btn") as HTMLButtonElement;
      saveBtn.addEventListener("click", async (e) => {
          console.log("saveBtn", startScript?.value);
          const result = await filemanagerapi.writeFile({
            directoryname: window.selectedServer,
            filename: ExistentScript,
            content: startScript?.value
          });
          if (result) {
            console.log("result", result);
          }
        }
      );
    }
</script>

<style>
  
    .danger-btn {
      background-color: #e74c3c;
      color: white;
      border: none;
      padding: 10px 15px;
      border-radius: 4px;
      cursor: pointer;
      font-weight: bold;
    }
    .danger-btn:hover {
      background-color: #c0392b;
    }
  
    .hidden {
      display: none !important;
    }
  </style>