/* src/components/CustomPopup.css */
.custom-popup {
    display: inline-block;
    color-scheme: light dark;
    font-family: inherit;
  }
  
  .custom-popup .container {
    position: fixed;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    background-color: inherit;
    display: none;
    z-index: 1000;
    justify-content: center;
    flex-direction: column;
    min-width: inherit;
    width: 100%;
    max-width: min(300px, 100%);
    overflow: hidden;
    border-radius: 4px;
  }
  
  .custom-popup .container * {
    padding: 0;
    margin: 0;
    border-radius: 4px;
  }
  
  .custom-popup .popup-option {
    cursor: pointer;
    transition: background-color 0.2s;
    display: flex;
    align-items: center;
    user-select: none;
    filter: contrast(200%) brightness(150%);
  }
  
  .custom-popup .popup-option:hover { 
    background-color: rgba(0, 0, 0, 0.05);
  }
  
  .custom-popup .default-font {
    font-family: sans-serif, Arial, Helvetica;
    font-size: 1.2rem;
  }
  
  .custom-popup .dropdown-item {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    border-radius: 4px;
  }
  
  @media (prefers-color-scheme: dark) {
    .custom-popup .popup-option:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }