---
import Layout from '../layouts/Layout.astro';
import TabbedContent from '@components/TabbedContent.astro'
// Opcional: Define clases de Tailwind (o las que uses) para personalizar
---
<Layout>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

<link rel="stylesheet" href="/materialSymbols.css"/>
<script src="/src/components/newserver/newserver.js"></script>

<style>
body {
    color-scheme: dark light;
}
</style>
<body>
        <task-notifications id="notificaciones"></task-notifications>

<div class="grid">
    <h2>Crear un nuevo Servidor</h2>

    <div class="stage">
        <div class="stage-header">
            <div class="stage-circle">1</div>
            <h3>Nombre del server</h3>
        </div>
        <label>
            <c-input type="text" id="server_name_input" style="background-color: #222c3a;  border-radius: 4px; color: white; font-size: 15pt;"
            name="server-name-input" placeholder="{{newServerWizard.serverNameInput}}"  value="tu nombre de servidor"
            required>
            </c-input>
        </label>
    </div>

    <div class="stage">
        <div class="stage-header">
            <div class="stage-circle">2</div>
            <h3>Seleccionar nucleo del server</h3>
        </div>
        <TabbedContent tabs={["Seleccionar de la lista", "Subir tu archivo"]}>
            <div slot="tab-0" class="w-full">

                    <grid-selector class="selectcore w-full">
    
                    </grid-selector>
                <p>select version</p>
                    <list-selector class="coreversions"></list-selector>
            </div>
            <div slot="tab-1">
              <c-input class="filecoreupload" type="file"></c-input>
            </div>
          </TabbedContent>
              <h3>Selecciona tu version de java</h3>
              <list-selector class="javaversions"></list-selector>
    </div>

    <div class="stage">
        <div class="stage-header">
            <div class="stage-circle">3</div>
            <h3>Configuracion Final</h3>
        </div>
        <div class="flex wrap center">
                <h3>selecciona Ram</h3>
                <c-input class="Ramsize" type="number" value="4" placeholder="GB memoria" min="0.5" step="0.5" ></c-input>

                <h3>serverPort</h3>
                <c-input type="number" min="1025" step="1" max="60000" value="25565" id="server-port" placeholder="puerto"></c-input>
            </div>
            <div class="flex wrap center">
                <span>
                    Aplicar optimizaciones
                </span>
                <c-input class="optiFlags" id="optiflags" type="checkbox" label="Aplicar optimizaciones" placeholder="Aplicar optimizaciones"></c-input>

            <button class="primary-btn" id="create-server-btn">
                <span class="material-symbols-rounded">build</span>
                <span class="material-symbols-rounded spinning" style="display: none">settings</span>
                <span class="text" id="create_server_dialog">Crear Servidor</span>
            </button>
        </div>

    </div>
</div>

</body>
</Layout>