---
import Layout from '../layouts/Layout.astro';

---
<Layout>
<link rel="stylesheet" href="./assets/base.css">

<link rel="stylesheet" href="css/newServer.css"/>
<link rel="stylesheet" href="css/elements/elements.css"/>

<link rel="stylesheet" href="css/preloader.css"/>
<link rel="stylesheet" href="css/mobile.css"/>
<link rel="stylesheet" href="css/globals.css"/>
<link rel="stylesheet" href="css/theme.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

<link rel="stylesheet" href="assets/materialSymbols.css"/>

 <script src="/src/js/KubekNotifyModal.js"></script>
<script src="/src/js/KubekRequests.js"></script>
<script src="/src/js/utils.js"></script>
<script src="/src/js/webcomponents.js"></script>
<script src="/src/js/task.js"></script>

<script src="/src/js/header.js"></script>
<style>
body {
    color-scheme: dark light;
}
</style>
<script src="/src/js/newserver.js"></script>
<script src="/src/js/Serversbar.js"></script>
<script src="/src/js/fecth.js"></script>
<body>
        <task-notifications id="notificaciones"></task-notifications>

<!-- Главный контейнер -->
<dialog-container
 id="Eula_dialog_container" 
 required="true"
>
    <custom-dialog id="Eula_dialog" 
    title=""
    description="{{commons.eula}}"
    style=" max-width: 500px; color: white;"
    theme="dark"
    >
    </custom-dialog>
</dialog-container>

 <form id="g-file-form" enctype="multipart/form-data">
    <input
            name="g-file-input"
            id="g-file-input"
            style="
    position: absolute;
    left: -2582px;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -285;
    display: none;
    "
            type="file"
    />
</form>
<div class="new-server-container animate__animated animate__fadeIn animate__faster">
    <h2>Crear un nuevo Servidor</h2>

    <div class="stage">
        <div class="stage-header">
            <div class="stage-circle">1</div>
            <h3>Nombre del server</h3>
        </div>
        <label>
            <custom-input type="text" id="server_name_input" style="background-color: #222c3a;  border-radius: 4px; color: white; font-size: 15pt;"
            name="server-name-input"placeholder="{{newServerWizard.serverNameInput}}" 
            required>
            </custom-input>
        </label>
    </div>

    <div class="stage">
        <div class="stage-header">
            <div class="stage-circle">2</div>
            <h3>.selectCore</h3>
        </div>
        <div class="radioButtons" id="core-category">
            <div class="item active" data-item="list">.fromList</div>
            <div class="item" data-item="upload">.uploadOwn</div>
        </div>
         <grid-selector id="cores-grids"></grid-selector>
        <div class="cardsGrid" id="cores-grid"></div>
        <div id="cores-versions-parent">
            <h3>.coreVersion</h3>
            <div id="cores-versions"></div>
            <enhanced-select id="customselect_versions" 
            style="width: 100%; height: 100%; display: grid; grid-template-columns: 1fr; grid-template-rows: 1fr;"
            grid="true"
            ></enhance-select>
        </div>
         <file-upload id="core_upload" style="display: none;"></file-upload>

    </div>

    <div class="stage">
        <div class="stage-header">
            <div class="stage-circle">3</div>
            <h3>.finalSettings</h3>
        </div>
        <!-- Список версий Java -->
        <h3>.javaVersion</h3>
        <div id="java-list-placeholder">
            <div class="lds-spinner"><div></div><div></div><div></div></div>
        </div>
        <div class="checksList developed-by-seeeroy" id="javas-list" style="display: none">
            <enhanced-select id="javas_list" style="width: 100%; height: 100%; display: grid; grid-template-columns: 1fr; grid-template-rows: 1fr;"></enhance-select>


        </div>
        <div style="display: flex;">
            <!-- Выбор количества памяти -->
            <div style="display: flex; flex-direction: column; width: 100%; margin: 0 6px;">
                <h3>.ramSelect</h3>
                <label style="display: flex; align-items: center;">
                    <input type="number" min="0.5" step="0.5" id="server-mem" style="width: max-content;">
                    <h3 style="margin-left: 8px;">GB</h3>
                </label>
            </div>

            <!-- Выбор порта -->
            <div style="display: flex; flex-direction: column; width: 100%; margin: 0 6px;">
                <h3>.serverPort</h3>
                <label>
                    <input type="number" min="1025" step="1" max="60000" value="25565" id="server-port" style="width: max-content;">
                </label>
            </div>
        </div>

        <!-- Применять ли флаги оптимизации? -->
        <input type="checkbox" style="display: none;" class="checkbox" id="add-aikar-flags" name="add-aikar-flags">
        <label for="add-aikar-flags" style=" margin: 12px 0;">.useAikarFlags</label>

        <button class="primary-btn" id="create-server-btn" onclick="prepareServerCreation()">
            <span class="material-symbols-rounded">build</span>
            <span class="material-symbols-rounded spinning" style="display: none">settings</span>
            <span class="text" id="create_server_dialog">.noServerName</span>
        </button>

        <div style="text-align: center; display: flex; align-items: center; justify-content: center; margin: 24px 0;">
            <h3 id="after-creation-text" style="display: none;"></h3>
        </div>
    </div>
</div>
<script type="module">
    document.addEventListener("DOMContentLoaded", () => {
        const Eula_dialog = document.querySelector("#Eula_dialog");
        Eula_dialog.options = [
            {
                label: "{{commons.iAccept}}",
                class: "save-btn",
                callback: () => {
                    console.log("accept");
                }
            }
        ];	
    });
</script>
</body>
</Layout>