---
import SidebarLayout from '../layouts/SidebarLayout.astro';
import Voicecomponent from '../components/voicecomponents/voicecomponent.astro';
---



<SidebarLayout title="Mi Aplicación" activeConfig="A">
	<div slot="logo">
		<h1 class="logo-text">Logo</h1>
	</div>

	<div class="content">
		<h1>Contenido Principal</h1>
        <Voicecomponent />
	</div>
</SidebarLayout>

