---
 
import ServerLayout from '@layouts/serverLayout.astro';
import FileHeader from '@components/dashboard/fileHeader.astro';
---
<link rel="stylesheet" href="/atom-one-dark.css">
<ServerLayout title={"filemanager"} activeConfig="A" >
    <h2>Gestor de archivos</h2>
    <FileHeader/>
</ServerLayout>
<style>
    
</style>