---
import Userheader from "./userheader.astro"
---

<div class="content-header">
    <div class="status">
    <Userheader imageUrl="/favicon.svg" name="ServerName" initialStatus="Stopped"></Userheader>
    </div>
    <div class="actions">
        <action-buttons-lit id="serverActions"></action-buttons-lit>
    </div>
</div>
<script>
    import { ActionButtonsLit } from "src/litcomponents/mc/barstatus.js";
    import { serverapi,servermanagerapi } from "src/fetch/fetchapi";
    import { scheduleUpdate } from "src/fetch/request";

    interface wsMessage {
  event: string;
  data: any;
}
import wsClient from '../../utils/socketManager';
  wsClient.connect({
    onOpen: (event:string) => {
      console.log("Conexión WS establecida desde el componente.", event);
    },
    onMessage: (message:wsMessage, rawData:string) => {
      console.log("Mensaje recibido desde el componente:", message);
      if (!message || !message.event) return;
      if (message.event.startsWith("server")) {
        scheduleUpdate(()=>{
          try {
            getServerInfo(window.selectedServer);
          } catch (error) {
            console.error("Error al actualizar información del servidor:", error);
          }
        });
      }
    },
    onClose: (event:string) => {
      console.log("Conexión WS cerrada desde el componente:", event);
    }
  });
    type ValidAction = 'start' | 'stop' | 'restart' | 'send' | 'log' | 'info' | 'players' | 'metrics' | 'kill';

    document.addEventListener("DOMContentLoaded", function () {
        const actionsElement = document.getElementById("serverActions");
        if (!actionsElement) return;
        if (!(actionsElement instanceof ActionButtonsLit)) return;
        // Initial buttons
        const buttonsConfig = [
            {
                id: "start-server",
                label: translate("START"),
                icon: "play_arrow",
                action: "start-server",
            },
            {
                id: "stop-server",
                label: translate("STOP"),
                icon: "stop",
                action: "stop-server",
            },
            {
                id: "restart-server",
                label: translate("RESTART"),
                icon: "restart_alt",
                iconOnly: true,
                action: "restart-server",
            },
            {
                id: "more-server-actions",
                label: translate("MORE"),
                icon: "more_horiz",
                iconOnly: true,
                action: "more-server-actions",
            },
            {
                id: "kill-server",
                label: "Force Quit",
                icon: "dangerous",
                iconOnly: true,
                action: "kill-server",
            }
        ];
        
        buttonsConfig.forEach((button) => {
            actionsElement.addButton(button);
        });
        defaultstatus(actionsElement);

        actionsElement.addEventListener("button-clicked", (event) => {
            if (!("detail" in event)) return;
            if (!(event instanceof CustomEvent)) return;    
            const isValidEvent = buttonsConfig.find(button => button.id === event.detail.id);
            switch (event.detail.id) {
                case buttonsConfig[0].id:
                    servermanagerapi.sendCommandToServer(window.selectedServer, "start");
                    console.log("Start server");
                    break;
                case buttonsConfig[1].id:
                    servermanagerapi.sendCommandToServer(window.selectedServer, "stop");
                    console.log("Stop server");
                    break;
                case buttonsConfig[2].id:
                    servermanagerapi.sendCommandToServer(window.selectedServer, "restart");
                    console.log("Restart server");
                    break;
                case buttonsConfig[3].id:
                    console.log("More server actions");
                    break;
                case buttonsConfig[4].id:
                    servermanagerapi.sendCommandToServer(window.selectedServer, "kill");
                    console.log("Kill server");
                    break;
                default:
                console.log("Button clicked:", event.detail, isValidEvent);
                    break;
            }
        });
        if (window.selectedServer) {
        //    setInterval(getServerInfo, 2000, window.selectedServer)
        }
        
    });
    interface ServerInfo {
        success: boolean;
        data: string;
        message?: string;
    }
    async function getServerInfo(server:string) {
        const serverInfo:ServerInfo = await serverapi.getServerInfo(server);
    //    console.log("serverInfo", serverInfo);
        setServerStatus(serverInfo.data);
    }
    window.getServerInfo = getServerInfo;
    declare global {
        interface Window {
            getServerInfo: (server: string) => void;
        }
    }
    function defaultstatus(actionsElement:ActionButtonsLit) {
        actionsElement.hideButton("more-server-actions");
        actionsElement.hideButton("kill-server");
        actionsElement.hideButton("restart-server");
        actionsElement.hideButton("stop-server");
    }
    const SERVER_STATUSES_TRANSLATE: { [key: string]: string } = {
        STARTING: "Iniciando",
        STOPPING: "Deteniendo",
        RUNNING: "En ejecución",
        STOPPED: "Detenido",
        START: "Iniciar",
        STOP: "Detener",
        RESTART: "Reiniciar",
        MORE: "Más",
    };

        // Función de traducción
    function translate(status: string): string {
    // Devuelve la traducción si existe, o el estado original como fallback
        return SERVER_STATUSES_TRANSLATE[status] || status;
    }
function setServerStatus(status: string) {
    const actionButtons = document.getElementById("serverActions");

    if (!actionButtons || !(actionButtons instanceof ActionButtonsLit)) return;

    actionButtons.hideAllButtons();
    const statusUPPER = status.toUpperCase();
    // Mostrar botones relevantes según el estado
    setStatus(status);

    switch (statusUPPER) {
        case "STARTING":
        case "STOPPING":
            actionButtons.showButton("more-server-actions");
            break;

        case "RUNNING":
            actionButtons.showButton("restart-server");
            actionButtons.showButton("stop-server");
            actionButtons.showButton("more-server-actions");
            break;

        case "STOPPED":
            actionButtons.showButton("start-server");
            break;
    }

    return true;
}
function setStatus(status: string) {
    window.dispatchEvent(new CustomEvent('change-status', { detail: { status: status } }));
    window.serverStatus = status;
}
getServerInfo(window.selectedServer);
</script>
<style>
     .content-header {
        width: 100%;
        height: max-content;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(240px, auto));
        gap: 1rem
    }
     .content-header .actions {
        justify-self: center;
        align-self: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>