---
---
<script src="/src/components/menu/menu.js" ></script>
<script src="/src/components/chatcomponents/chatcomponents.js" ></script>

</script>
<custom-popup id="custom-popup" style="color: white;"></custom-popup>
<div  id="chat-container" class="chat1 chatcontainer">
  <message-container id="chatcontainer" wrapper-classes="maxh-20rem"></message-container>
</div>
<div class="gift2 giftcontainer">
  <message-container id="giftcontainer" wrapper-classes="maxh-20rem"></message-container>
</div>
<div class="events3 eventscontainer">
  <message-container id="eventscontainer" wrapper-classes="maxh-10rem"></message-container>
</div>
<script>

</script>