---
// Step1.astro - Server Name Form Step
---

<div class="step-content">
  <div class="form-container">
  <label>
      <c-input type="text" id="server_name_input" style="background-color: #222c3a;  border-radius: 4px; color: white; font-size: 15pt;"
      name="server-name-input" placeholder="{{newServerWizard.serverNameInput}}"  value="tu nombre de servidor"
      required>
      </c-input>
  </label>
  </div>
</div>
