---
// Step1.astro - Server Name Form Step
---

<div class="step-content">
  <div class="form-container">
    <label>
      <c-input
        type="text"
        id="serverName"
        style="background-color: #222c3a;  border-radius: 4px; color: white; font-size: 15pt;"
        name="server-name-input"
        placeholder="{{newServerWizard.serverNameInput}}"
        value="NombreServidor"
        pattern="[a-zA-Z0-9]*"
        required
      >
      </c-input>
    </label>
  </div>
</div>
