---
import SidebarLayout from '@layouts/SidebarLayout.astro';
import ServerHeader from '@components/header/serverHeader.astro';
const { server } = Astro.params;
---
<SidebarLayout title="Mi Aplicación" activeConfig="A" prefix={server}>
	<div slot="logo">
		<a href="/" class="flex items-center gap-4 p-4">
			<span class="material-symbols-outlined">home</span>
			<span>Home</span>
		</a>
	</div>
	<div class="content">
		<ServerHeader/>
    <div class="config-layout p-10">
        <slot/>
    </div>
	</div>
</SidebarLayout>
<script define:vars={{server}}>
    window.selectedServer = server;
	console.log("server", server);
</script>
<style>
	.config-layout {
		background-color: var(--secondary-bg);
	}
</style>