---
import ServerLayout from '@layouts/serverLayout.astro';
import SystemMonitorSolid, {type SystemInfoResponse } from '@components/solid/system.tsx';
import { systemapi } from 'src/fetch/fetchapi';

async function getSystemInfo() {
    try{
        const result = await systemapi.getSystemInfo();
        return result;
    } catch (error) {
        console.error("Error fetching system info:", error);
        return null;
    }
}
const systemInfo = await getSystemInfo();
---
<script src="/src/litcomponents/mcinit.js"></script>
<ServerLayout title={"systemMonitor"} activeConfig="A">
    <h2>Server Properties</h2>
    <SystemMonitorSolid client:load systemInfo={systemInfo} />
</ServerLayout>


<style>

</style>