---
import ServerLayout from '@layouts/serverLayout.astro';
import SystemMonitor from '@components/vue/SystemMonitor.vue';

---
<script src="/src/litcomponents/mcinit.js"></script>
<ServerLayout title={"systemMonitor"} activeConfig="A">
    <div class="grid gap-4">
        <SystemMonitor client:only="VUE" />
    </div>
</ServerLayout>


<style>

</style>